*{
    margin:0;
    padding:0;
}
body{
   background-color: black; 
   color:blanchedalmond;
   box-sizing: border-box;
}
h1{
    font-size:3rem;
    font-weight: 500;
    margin:7px 7px;
    padding: 7px 7px;
    text-shadow: 2px 2px 15px red;
}
h2{
    font-size: 2rem;
    font-weight: 200;
    margin:27px;
    padding: 17px;
    text-shadow: 2px 2px 15px blue;
}
h1,h2,p,footer{
display: flex;
align-items: center;
justify-content: center;
flex-wrap: nowrap;
flex-direction: column;
}
p{ 
    text-align: center;
    font-size: 19px;
    text-shadow: 1px 1px 5px whitesmoke;
    margin-bottom: -35px;
    margin-top: -20px;
}

footer{
    margin:45px;
    padding:20px;
}
footer :nth-child(1){
    color:seashell;
    text-shadow: 2px 2px 5px blueviolet;
    margin: 0px;
}

.button{
    margin-top:15px;
    padding:9px;
    border-radius: 10px;
    background-color: darkgoldenrod;
    color:black;
    border:2px solid crimson;
}
.button:hover{
    padding:8px;
    background-color:black;
    color:darkgoldenrod;
    border:2px solid mediumspringgreen;
    
}